body {
}

.about .content h3 {
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #052c3f;
    font-size: 22px;
    margin-bottom: 0px;
}

.about .content h4 {
    font-weight: 500;
    line-height: 32px;
    font-size: 20px;
    color: #4d8090;
}

    .about .content {
        font-weight: 500;
        line-height: 32px;
        font-size: 17px;
        color: #4d8090;
    }
